<div class="feedGrid-columns">

<section class="feedHeader">
<h2>Timeline</h2>
<form action="/postsearch" method="POST">
  <p>Looking for someone's post?</p>
  <input type="search" name="usersearch" placeholder="Put a Username Here!">
  <input type="submit" value="Search">
</form>
</section>



<% @posts.reverse.each do |po| %>
<div class="feedGrid-rows">
  <h3>Posted By: <%= po.owner.capitalize %></h3>
  <h3><%= po.post_title %></h3>
 <p><%=  po.description %></p>
 <img src="<%= po.image_url %>">
 <% if session[:user].email == "peterparker@dailyb.com" %>
 <a href="/deletepost/<%= po.id %>"> <button id="deleteButton"> Delete this post.</button></a>
 <%end%>
</div>
<%end%>

</div>
