<div class="personalGrid">


<section id="personalHeader">
<h2>Personal Page</h2>
<h3> Welcome <%= session[:user].user_name.capitalize%> </h3>
</section>

<div id="userInfo">
<img src="<%=session[:user].image_url%>">
<h3>  <%= session[:user].first_name.capitalize%> <%= session[:user].last_name.capitalize%> </h3>
<p> <i class="fas fa-envelope-square"></i> <%= session[:user].email%> </p>
<p> <i class="fas fa-birthday-cake"></i> <%= session[:user].birthdate%> </p>
<p> <i class="fas fa-comment"></i> <%= session[:user].description%> </p>
<a href="/settings"> <button> Settings</button></a>

</div>

<div id="postCreator">
  <p>Post Creator</p>
  <form action="/feed" method="POST">
    <input type="text" name="title" placeholder="Title" required><br>
    <input id="contentBox" type="text" name="content" placeholder="Your Content" required><br>
    <input type="text" name="imgurl" placeholder="Image Url"><br>
    <input type="submit" value="Submit Post">
  </form>
</div>

</div>
