<div class="personalGrid">


<section id="personalHeader">
<h2>Personal Page</h2>
<h3> Welcome <%= session[:user].user_name.capitalize%> </h3>
</section>

<div id="userInfo">
<img src="<%=session[:user].image_url%>">
<h3>  <%= session[:user].first_name.capitalize%> <%= session[:user].last_name.capitalize%> </h3>
<p> <i class="fas fa-envelope-square"></i> <%= session[:user].email%> </p>
<p> <i class="fas fa-birthday-cake"></i> <%= session[:user].birthdate%> </p>
<form action="/personal/<%= @current_user.id %>" method="POST">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="image" placeholder="New Profile Image">
  <p>Changes applied next time you log in.</p>
  <input type="submit" value="Submit">
</form>
</div>

<div id="postCreator">
  <p>Post Creator</p>
  <form action="/feed" method="POST">
    <input type="text" name="title" placeholder="Title" required><br>
    <input id="contentBox" type="text" name="content" placeholder="Your Content" required><br>
    <input type="text" name="imgurl" placeholder="Image Url"><br>
    <input type="submit" value="Submit Post">
  </form>
</div>

<a href="/deleteaccount"> <button id="deleteButton"> This Button Will Delete You From Our System.</button></a>

</div>
