<% if session[:user] == nil %>
<div class="signInForms">
<h2>404!</h2>
<div class="formBox">
  <p>I'm sorry but you will have to log in!</p>
</div>
</div>
  <% elsif session[:user] != nil %>

<div class="feedGrid-columns">

  <div class="feedHeader">
    <%if @username == "nutella" %>
    <h2>This is just for you Michael</h2>
  </div>
  <img class="animated tada infinite" src="nutella.png">
  <%elsif @username == "Nutella" %>
  <h2>This is just for you Michael</h2>
</div>
<img class="animated tada infinite" src="nutella.png">
  <%end%>
<%if @userposts.first == nil %>
<h2>That user doesn't exist!</h2>
</div>
<%elsif @userposts.first != nil %>
<h2>Posts by <%=@userposts.first.owner%></h2>
</div>

<% @userposts.first(20).reverse.each do |po| %>
<div class="feedGrid-rows">
  <h2>Posted By: <%= po.owner %></h2>
  <h3><%= po.post_title %></h3>
 <p><%=  po.description %></p>
 <img src="<%= po.image_url %>">
</div>
<%end%>
</div>
<%end%>
<%end%>
