<div class="feedGrid-columns">

  <div class="feedHeader">
<%if @userposts.first == nil %>
<h2>That user doesn't exist!</h2>
</div>
<%elsif @userposts.first != nil %>
<h2>Posts by <%=@userposts.first.owner.capitalize%></h2>
</div>

<% @userposts.first(20).each do |po| %>
<div class="feedGrid-rows">
  <h2>Posted By: <%= po.owner.capitalize %></h2>
  <h3><%= po.post_title %></h3>
 <p><%=  po.description %></p>
 <img src="<%= po.image_url %>">
</div>
<%end%>
</div>
<%end%>
