<% if session[:user] == nil %>
<div class="signInForms">
<h2>404!</h2>
<div class="formBox">
  <p>I'm sorry but you will have to log in!</p>
</div>
</div>
  <% elsif session[:user] != nil %>

<div class="events-columns">

<section class="eventsHeader">

<h3>
  Super Hero News!
</h3>
</section>

<% @events.first(10).each do |event| %>
<div class="events-rows">

  <h3><%= event["name"]["text"].slice(0..25) %>...</h3>
  <img src='<%= event["logo"]["url"] %>'>
  <p id="eventTime"><%= event["start"]["local"].byteslice(5..6) %>
    /
    <%= event["start"]["local"].byteslice(8..9) %>
    /
    <%= event["start"]["local"].byteslice(0..3) %>
    at
    <%= event["start"]["local"].byteslice(11..15) %></p>
  <p><%= event["description"]["text"].slice(0..100) %>...</p>
  <a href="<%=event['url']%>">Event Info</a>
</div>
<% end %>

</div>
<% end %>
